.footer{
    margin-top: 90px;
}
.roloex-footer-logo{
    width: 125px;
    height:100px;
    margin-left: 25%;
}
.footer-container{
    margin-left: 50px;
    line-height: 20px;
}
.footer p{
    margin-bottom: 0%;
    font-size: medium;
    font-weight: 600;
    padding: 3px;
}