/* Lower Navbar */
.navbar-lower{
    width:101.1% ; height:85px ;
    background-color:#111111 ;    
}
.rolex-watches-options{
    width:250px ;
    color:white ;
    margin:30px ;  margin-right:0px ;   
    padding-left:50px ; padding-right:-100px ;         
}
.rolex-watches-options :hover{
    color:#198a56    
}
.rolex-watches-options p{
    width:200px ;
    font-size: 15px ;
    padding-right:-10px ;
}
.cross{
    width:2px ;
    margin-top:30px ;
    padding-left:-100px ;
    color: white ;
}
.gmt-dropdown{
    width:300px ;
    color:white ;
    margin:30px ;
    padding-right:10px ;
}
.gmt-dropdown :hover{
    color:#198a56;
}
.subnav-btn{
   margin-top: -70px ; margin-left:1150px ;
}
.configure-button{
    width:120px ; height:30px ;   
    color: white; background-color:#188754 ;  
    padding-right:10px ; padding-right:10px ;   
    border:none ; border-radius:30px ;   
    font-size:15px ;   
}

/* Introduction Page */
.intro-page{
    margin-bottom: -6px;
}
.intro{
    color:white ;
}
.intro-vid{
    position:relative ;
}
.intro-title{
    position:absolute ; top:40% ; left:40% ;
    font-size:30px ; font-weight: 400 ;
    /* display: none; */
}
.intro h1{
    position:absolute ;  top:45% ; left:30% ;
    font-size: 75px ; font-weight: 700 ;
    /* display: none; */
}
.intro h2{
    position: absolute ; top:45% ; left:30%;
    font-size: 75px ; font-weight: 700 ;
    display:none;
}
.intro h3{
    position:absolute ; top:50% ; left:8% ;
    font-size: 40px ; font-weight: 700 ;
    display:none;

}
.intro-desc{
    position: absolute ; top:50% ; left:50% ;
    font-size: 27px ; font-weight: 400 ;
    padding-right: 100px;
    line-height: 1.2;
    display: none;

}

/* 3D Model Page */
.models-page{
    color: white;
}
.model-img-div{
    margin-top: -4px;
}
.models-page h3{
    position:absolute ; top:170% ; left:28% ;
    font-size: 60px ; font-weight: 700 ;
    width: 500px; height: 110px;

}
.model-para-one{
    position:absolute ; top:195% ; left:28% ;
    font-size: 20px ; font-weight: 200 ;
    width: 520px; height: 150px;
    line-height: 1.2;
    display: none;
}
.model-para-two{
    position:absolute ; top:195% ; left:28% ;
    font-size: 20px ; font-weight: 200 ;
    width: 520px; height: 150px;
    line-height: 1.2;
    /* display: none; */
}

/* About Section */
.about-img{
    margin-top: -5px;
}
.about-desc{
    position:absolute ; top:377% ; left:30% ;
    font-size: 40px ; font-weight: 400 ;
    width: 540px; height: 190px;
    line-height: 1.2;
}
.about-vid-two{
    margin-bottom: -5px;
}
.card{
    position:absolute ; top:500% ; left:30% ; 
    background-color: #c6d2e0;
    border: none;
}
.card-title{
    width: 522px; height: 60px; 
    font-size: 60px ; font-weight: 700 ; 
}
.card-body{
    width: 522px; height: 243px; 
    font-size: 20px ; font-weight: 400 ;
    padding-left: 0%; 
}
.card-img{
    width: 522px; height: 672px;
    margin-top: 20px;
}
.about-desc-two{
    color: white;
}
.about-desc-two-title{
    position:absolute ; top:720% ; left:29% ;
    font-size: 57px ; font-weight: 700 ; 
    height: 60px; 
}
.about-desc-two-body{
    position:absolute ; top:735% ; left:29% ;
    font-size: 20px ; font-weight: 400 ;
    width: 522px; height: 182px;
}

/* Discover Models */
.watch-designs{
    background-color:#a6b4c8 ; color: white;
    height: 526px;
}
#design-model{
    position:absolute ; top:825% ; left:40% ;
}
.design-btn{
    border-radius: 50%; border: none;
    height: 20px; width: 20px;
    background-color:#b1bece ;
    margin: 5px;
}
.design-btn-div{
    position:absolute ; top:893% ; left:45% ; 
}
.design-content{
    position:absolute ; top:843% ; left:15% ; 
}
.design-content h4{
    font-weight: 700; font-size: 40px ;
    height: 43.5;
}
#design-name{
    font-weight: 500; font-size: 20px ;
    width: 259px;
}
#discover-model-label{
    font-size: 19px; font-weight: 600;
}
#add-fav-label{
    position:absolute ; top:823% ; left:11% ; 
    font-size: 13px; font-weight: 700;
}
#add-fav-label i{
    font-size: 15px; font-weight: 900;
}
#new-model-label{
    position:absolute ; top:819% ; left:15% ;
    font-size: 15px; font-weight: 700;
    display: none;
}


.discover-models-section{
    height: 509px;
}
.discover-models{
    padding: 0%;  
}

    /* Inline height,width for Images */

 /* Learn More Section  */
.learn-more{ 
    padding-top: 20px; padding-right: 80px; padding-left:80px ;
    margin-top: 50px;
    text-align: center;
    color: #126c43; 
}
 .learn-more p{
    font-size: 20px; font-weight: 500 ;
    margin-bottom: 0px; 
 }
 .learn-more h2{
    font-size: 50px; font-weight: 700;   
 }
 .learn-more button{
    height: 40px; width: 160px;
    background-color: #126c43; color: #ffffff;
    border: none; border-radius: 30px;
    font-size: 15px; font-weight: 700 ;

 }

 .current-page{
    font-size: 12px;
    margin-left: 95px; margin-top: 65px;
 }
 .social-media{
    margin-left: 95px; margin-top: 25px;
 }
 .social-media i{
    padding-left: 20px;
 }


