.containers {
    display: inline-block;
    cursor: pointer;
    width: 100%;
  }  
  .bar1, .bar2 {
    width: 18px;
    height: 2px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0,3px) rotate(-45deg);
  }

  /* Rotate last bar */
  .change .bar2 {
    transform: translate(0,-3px) rotate(45deg);
  }

  .navbar{
    background-image: linear-gradient(to right, #0b3e27, #197149);
    color: white;
    height: 105px;
  }
  .mainIcon{
    height: 50px;
    padding-left: 110px;
  }

  i{
    padding-left: 50px;
  }

  /* Wishlist Size Indication */
  #menubar-fav-icon{
    position: relative;
    display: inline-block;
    z-index: 0 !important ;
  }
  #wishlist-size{
    border-radius: 50%;
    background-color: #329066;
    color: white;
    font-weight: 700;
    font-size: 10px;
    text-align: center;
    opacity: 1;
    width: 15px;
    position: absolute;
    top: 39%;
    right: 8%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Adjust the z-index as needed */
    /* height: 12px; */
  }
