body {
    overflow-x: hidden;
    margin-left: 0;
  }
  .containers {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1,
  .bar2 {
    width: 18px;
    height: 2px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0, 3px) rotate(-45deg);
  }
  
  /* Rotate last bar */
  .change .bar2 {
    transform: translate(0, -3px) rotate(45deg);
  }
  .navb {
    background-image: linear-gradient(to right, #0b3e27, #197149);
    align-items: stretch;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 105px;
    z-index: 20;
  }
  .mainIcon {
    height: 50px;
    padding-left: 110px;
  }
  
  i {
    padding-left: 50px;
  }
  .menuicon :hover {
    color: #197149;
  }
  #login{
    background-color: white;
    font-family: sans-serif;
    margin-left: 40px;
    color: #0b3e27;
    margin-top: -10px;
  }
  .mainVideo {
    position: relative;
  }
  .textInside {
    color: white;
    position: absolute;
    top: 250px;
    left: 500px;
  }
  .second p {
    font-weight: bold;
  }
  #firsttext {
    width: 80%;
    margin-left: 10%;
    display: flex;
    margin-top: 100px;
    font-family: sans-serif;
    opacity: 0;
  }
  .card:hover {
    transform: scale(1.1);
}