body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.navbar{
    position: fixed;
}

.submariner-page {
    width: 100%;
    margin-left: 0px;
}
.containers {
    display: inline-block;
    cursor: pointer;
  }
 
  .bar1, .bar2 {
    width: 18px;
    height: 2px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0,3px) rotate(-45deg);
  }

  /* Rotate last bar */
  .change .bar2 {
    transform: translate(0,-3px) rotate(45deg);
  }

  .navb{
    background-image: linear-gradient(to right, #0b3e27, #197149);
    color: white;
    overflow: hidden;
    position: fixed; 
    top: 0;
    width: 100%;
    height: 105px;
  }
  .mainIcon{
    height: 50px;
    padding-left: 110px;
    cursor: pointer;
  }

  i{
    padding-left: 50px;
  }
  .fa {
    cursor: pointer;
  }
  .navbar-lower{
    width:101.1% ; height:85px ;
    background-color:#111111 ;   
    position: sticky;
    top: 0%;
    z-index: 1;
}
.rolex-watches-options{
    width:250px ;
    color:white ;
    margin:30px ;  margin-right:0px ;   
    padding-left:50px ; padding-right:-100px ; 
    transition : color 1s ease-in-out;
         
}
.rolex-watches-options :hover{
    color:#198a56    
}
.rolex-watches-options p{
    width:200px ;
    font-size: 15px ;
    padding-right:-10px ;
    cursor: pointer;
}
.cross{
    width:2px ;
    margin-top:30px ;
    padding-left:-100px ;
    color: white ;
}
.sub-dropdown{
    width:300px ;
    color:white ;
    margin:30px ;
    padding-right:10px ;
    cursor: pointer;
}
.sub-dropdown :hover{
    color:#198a56;
}
.subnav-btn{
   margin-top: -70px ; margin-left:1150px ;
}
.configure-button{
    width:120px ; height:30px ;   
    color: white; background-color:#188754 ;  
    padding-right:10px ; padding-right:10px ;   
    border:none ; border-radius:30px ;   
    font-size:15px ;   
}
.submariner-page-content{
    width: 100%;
    margin-left: 0px;
}

#video-one{
    margin-top: 0px;
    opacity: 1;
    display: block;
}
#my-video-one {
    right: 0;
    bottom: 0;
    width: 100%;
    position: relative;
  }
#video-one-blackfilm{
    background-color: #000000;
    position: absolute;
    top: 28.3%;
    height: 768px;
    width: 100%;
    opacity: 0;
    margin-top: 10px;
    animation: smooth-appear 1s ease-in-out; 
}
.video-one-content-two{
    margin-top: 300px;
    display: block;
}

.video-one-content-two-head{
    margin-left: 100px;
    font-size: 60px;
    color: #f8f8f8;
    font-weight: bold;
}

.video-one-content-two-body{
    color: #f8f8f8;
    font-size: 20px;
    width: 500px;
    margin-left: 700px;
}
.video-one-content-one-subhead{
    position: absolute;
    top: 35%;
    left: 40%;
    text-align: center;
    color: #f8f8f8;
    font-family:RolexFont-S,sans-serif;
    font-size: 14.2096px;
}
.video-one-content-one-head{
    height: 100px;
    position: absolute; left: 33%;
    top: 40%;
    text-align: center;
    color: #f8f8f8;
    font-family:"Helvetica Now Text",Helvetica,Arial,sans-serif;
    font-size: 100.6257px;
    margin-top: 0px;
}
#mainhead{
   text-align: center;
}
.video-one-content-one-btn{
    position: absolute;
    top: 60%;
    left: 42%;
    justify-content: center;
    overflow: visible;
    color:#f8f8f8;
    border: none;
}
#video-one-btn {
    cursor: pointer; 
    border: 1px solid #f8f8f8; 
    background-color: transparent; 
    height: 50px; 
    width: 200px; 
    color: #3498db; 
    font-size: 1.5em; 
    border-radius: 30px;
    filter: blur(3);
  }
.image-one{
    margin-top: -5px;
    padding: 0px;
    height: 550px;
    margin-left: 0px;
    width: 100%;
}
.image-one img{
    width: 100%;
}
.video-two{
    position: relative;
    margin-top: 0px;
    padding: 0px;
    width: 100%;
}

#video-two-blackfilm{
    background-color: #000000;
    position: absolute;
    top: -1.3%;
    height: 758px;
    width: 100%;
    opacity: 0.7;
    margin-top: 0px;
    animation: smooth-appear 1s ease-in-out; 
}
.video-two-content{
    position: absolute;
    top: 15%;
    width: 500px;
    left: 35%;
    font-size: 20px;
    color: #f8f8f8;
}
.video-two-content h2{
    font-size: 50px;
}
.video-three{
    position: relative;
    margin-top: 8px;
    padding: 0px;
    width: 100%;
    filter: brightness(3);
}
#video-three-blackfilm{
    background-color: #000000;
    position: absolute;
    top: -1.5%;
    height: 760px;
    width: 100%;
    opacity: 0.7;
    animation: smooth-appear 1s ease-in-out; 
}
.video-three-content{
    position: absolute;
    top: 15%;
    width: 500px;
    left: 35%;
    font-size: 20px;
    color: #f8f8f8;
}
.video-three-content h1{
    font-size: 50px;
}
#my-video-two,#my-video-three{
    margin-top: -10px;
    right: 0;
    bottom: 0;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2); 
    filter: blur(4px);
    filter: brightness(1.1);
  }
.feature-div{
    background: linear-gradient(rgb(189, 212, 229), rgb(216, 227, 233), rgb(180, 194, 205));
    height: 2429.83px;
    margin-top: -10px;
    width: 100%;
}
#feature-div-head{
    text-align: center;
    color: #212121;
    font-size: 41.87px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    padding-top: 40px;
}
#feature-div-content{
    color: #212121;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18.3457px;
    line-height: 1.6;
    font-weight: 300;
    display: block;
    margin-left: 400px;
    margin-right: 400px;
}
.feature-div-image{
    display: flex;
    margin-top: 85px;
}
.feature-div-image-one{
    position: relative;
    overflow: hidden;
    flex: 1;
    margin-left: 40px;
    width: 300px;
    height: 350px;
}
#feature-div-image-one-id:hover{
    overflow: hidden;
    transition: all 0.5s ease;
    transform: scale(1.2); 
    display: block;
}

.feature-div-image-two{
    position: relative;
    overflow: hidden;
    flex: 1;
    margin-left: 40px;
    width: 300px;
    height: 350px;
}
#feature-div-image-two-id:hover{
    overflow: hidden;
    transition: all 0.5s ease;
    transform: scale(1.2); 
    display: block;
}
.feature-div-image-three{
    position: relative;
    overflow: hidden;
    flex: 1;
    margin-left: 40px;
    width: 300px;
    height: 350px;
}
#feature-div-image-three-id:hover{
    overflow: hidden;
    transition: all 0.5s ease;
    transform: scale(1.2); 
    display: block;
}

.feature-div-image-four{
    position: relative;
    overflow: hidden;
    flex: 1;
    margin-left: 40px;
    width: 300px;
    height: 350px;
}
#feature-div-image-four-id:hover{
    overflow: hidden;
    transition: all 0.5s ease;
    transform: scale(1.2); 
    display: block;
}

.feature-div-content-two{
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 80px;
}
#feature-div-content-two-para{
    font-size: 37.45px;
    color: #212121;
    font-weight: 700;
    line-height: 1.2;
    font-family:"Helvetica Now Text",Helvetica,Arial,sans-serif;
}
.feature-div-content-two-image img{
    width: 500px;
    height: 600px;
    margin-left: 400px;
    margin-top: 0px;
}
.feature-div-content-three{
    color: #212121;
    font-family: "Helvetica Now Text",Helvetica,Arial,sans-serif;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 100px;
}
@keyframes smooth-appear{
    from{
     transform: translateY(60px);
    }
    to{
     transform: translateY(0px);
     opacity: 1;
    }
 }
 @keyframes disappear{
     from{
      transform: translateY(0px);
      opacity: 1;
     }
     to{
         transform: translateY(60px);
         opacity: 0;
     }
  }
