body{
    margin: 0px;
    margin-top: 0%;
    overflow-x: hidden;
}
navbar{
    position: fixed;
}

.full-page {
    width : 1350px;
}
.containers {
    display: inline-block;
    cursor: pointer;
  }
 
  .bar1, .bar2 {
    width: 18px;
    height: 2px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0,3px) rotate(-45deg);
  }

  /* Rotate last bar */
  .change .bar2 {
    transform: translate(0,-3px) rotate(45deg);
  }

  .navb{
    background-image: linear-gradient(to right, #0b3e27, #197149);
    color: white;
    overflow: hidden;
    position: fixed; 
    top: 0;
    width: 100%;
    height: 105px;
  }
  .mainIcon{
    height: 50px;
    padding-left: 110px;
    cursor: pointer;
  }

  i{
    padding-left: 50px;
  }
  .navbar-lower{
    width:101.1% ; height:85px ;
    background-color:#111111 ;   
    position: sticky;
    top: 0%;
    z-index: 1;
}
.rolex-watches-options{
    width:250px ;
    color:white ;
    margin:30px ;  margin-right:0px ;   
    padding-left:50px ; padding-right:-100px ; 
    transition : color 1s ease-in-out;
         
}
.rolex-watches-options :hover{
    color:#198a56    
}
.rolex-watches-options p{
    width:200px ;
    font-size: 15px ;
    padding-right:-10px ;
    cursor: pointer;
}
.cross{
    width:2px ;
    margin-top:30px ;
    padding-left:-100px ;
    color: white ;
}
.sub-dropdown{
    width:300px ;
    color:white ;
    margin:30px ;
    padding-right:10px ;
    cursor: pointer;
}
.sub-dropdown :hover{
    color:#198a56;
}
.subnav-btn{
   margin-top: -70px ; margin-left:1150px ;
}
.configure-button{
    width:120px ; height:30px ;   
    color: white; background-color:#188754 ;  
    padding-right:10px ; padding-right:10px ;   
    border:none ; border-radius:30px ;   
    font-size:15px ;   
}
.videoone{
    margin-top: 0px;
}
#videomain{
    opacity: 1;
    display: block;
    transition: opacity 0.3s ease; 
}
#myVideoone {
    right: 0;
    bottom: 0;
    width: 100%;
    position: relative;
  }
#scrollcontent{
    background-color: #000000;
    position: absolute;
    top: 28.3%;
    height: 760px;
    width: 1350px;
    opacity: 0;
}
#twocontent{
    display: flex;
    margin-top: 300px;
    display: block;
}

#twocontenthead{
    flex: 1;
    padding-left: 60px;
    font-size: 60px;
    color: #f8f8f8;
    font-weight: bold;
}
#twocontentbody{
    flex: 1;
    color: #f8f8f8;
    font-size: 20px;
    width: 500px;
    margin-left: 700px;
}
.videocontentone{
    position: absolute;
    top: 35%;
    left: 40%;
    text-align: center;
    color: #f8f8f8;
    font-family:RolexFont-S,sans-serif;
    font-size: 14.2096px;
}
.videocontenttwo{
    height: 100px;
    position: absolute;
    top: 40%;
    left: 33%;
    text-align: center;
    color: #f8f8f8;
    font-family:"Helvetica Now Text",Helvetica,Arial,sans-serif;
    font-size: 100.6257px;
    margin-top: 0px;
}
.btnvideo{
    position: absolute;
    top: 60%;
    left: 42%;
    justify-content: center;
    overflow: visible;
    color:#f8f8f8;
    border: none;
}
#videobtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    opacity:0.3;
    color: #f8f8f8;
    cursor: pointer;
    border-radius: 30px;
    margin-top: 20px;
  }
.picone{
    margin-top: -10px;
    padding: 0px;
    width: 100%;
    height: 550px;
}
.videotwo{
    position: relative;
    margin-top: 0px;
    padding: 0px;
}

#scrollingtwo{
    background-color: #000000;
    position: absolute;
    top: -2.1%;
    height: 760px;
    width: 1350px;
    opacity: 0.7;
}
.contentscroll{
    position: absolute;
    top: 15%;
    width: 500px;
    left: 35%;
    font-size: 20px;
    color: #f8f8f8;
}
.contentscroll h2{
    font-size: 50px;
}
.videothree{
    position: relative;
    margin-top: 0px;
    padding: 0px;
}
#scrollingthree{
    background-color: #000000;
    position: absolute;
    top: -2.1%;
    height: 760px;
    width: 1350px;
    opacity: 0.7;
}
.videothreecontent{
    position: absolute;
    top: 15%;
    width: 500px;
    left: 35%;
    font-size: 20px;
    color: #f8f8f8;
}
.videothreecontent h1{
    font-size: 50px;
}
#myVideotwo,#myVideothree{
    margin-top: -10px;
    right: 0;
    bottom: 0;
    width: 100%;
    filter: blur(5px);
  }
.featurediv{
    background: linear-gradient(rgb(189, 212, 229), rgb(216, 227, 233), rgb(180, 194, 205));
    height: 2429.83px;
    margin-top: -10px;
}
#feathead{
    text-align: center;
    color: #212121;
    font-size: 41.87px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    padding-top: 40px;
}
#featcontent{
    color: #212121;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18.3457px;
    line-height: 1.6;
    font-weight: 300;
    display: block;
    margin-left: 400px;
    margin-right: 400px;
}
.featimagdiv{
    display: flex;
    margin-top: 85px;
}
.featimgonediv{
    position: relative;
    overflow: hidden;
    flex: 1;
    margin-left: 40px;
    width: 300px;
    height: 350px;
}
#featimgone:hover{
    overflow: hidden;
    transition: all 0.5s ease;
    transform: scale(1.2); 
    display: block;
}

.featimgtwodiv{
    position: relative;
    overflow: hidden;
    flex: 1;
    margin-left: 40px;
    width: 300px;
    height: 350px;
}
#featimgtwo:hover{
    overflow: hidden;
    transition: all 0.5s ease;
    transform: scale(1.2); 
    display: block;
}
.featimgthreediv{
    position: relative;
    overflow: hidden;
    flex: 1;
    margin-left: 40px;
    width: 300px;
    height: 350px;
}
#featimgthree:hover{
    overflow: hidden;
    transition: all 0.5s ease;
    transform: scale(1.2); 
    display: block;
}

.featimgfourdiv{
    position: relative;
    overflow: hidden;
    flex: 1;
    margin-left: 40px;
    width: 300px;
    height: 350px;
}
#featimgfour:hover{
    overflow: hidden;
    transition: all 0.5s ease;
    transform: scale(1.2); 
    display: block;
}

.featcontenttwo{
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 80px;
}
#featcontenttwopara{
    font-size: 37.45px;
    color: #212121;
    font-weight: 700;
    line-height: 1.2;
    font-family:"Helvetica Now Text",Helvetica,Arial,sans-serif;
}
.featimaglg img{
    width: 500px;
    height: 600px;
    margin-left: 400px;
    margin-top: 0px;
}
.featcontentthree{
    color: #212121;
    font-family: "Helvetica Now Text",Helvetica,Arial,sans-serif;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 100px;
}
